<?xml version="1.0"?>
<appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="PdfConversionCommand" value="~\Content\pdf_convert\gswin32c.exe"/>
    <add key="PdfConversionParameters" value="-dSAFER -dBATCH -dNOPAUSE -sDEVICE=pngalpha -r@DPI@ -dTextAlphaBits=4 -dBackgroundColor=16#FFFFFF -sOutputFile=@GUID@-%00d.png @GUID@.pdf"/>
</appSettings>
